body {
    font-family: Arial, Helvetica, sans-serif;
    background: #666666;
}
#buttonTest{
	
}
ul {
    list-style-type: none;
    margin: 25px;
    padding: 0;
}

#navb{
    display: inline;
}
#content {
    min-width: 450px;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    background: #FFFFFF;
    border: 2px solid #000000;
}
#left {
    min-width: 450px;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    background: #FFFFFF;
    border: 2px solid #000000;
}
.loginError {
	font-size:14px;
	text-indent: 5em; 
	color: red;
}
h1 {
    color: navy;
    padding: 0;
    margin: 1em 0 .5em .5em;
}
p {
    margin: 0;
    padding: 0;
	display: inline;
}
fieldset {
    margin: 0;
    margin-bottom: .5em;
    padding-left: 1em;
}
label {
    width: 10em;
    float: left;
    margin-right: 1em;
    text-align: right;
    margin-bottom: .2em;
}

input {
    float: left;
	margin-left: .5em;
}

br {
    clear: both;
    margin-bottom: .2em;
}

form {
	margin-bottom: 1em;
}

.textbox {
    width: 15em;
    margin-bottom: .2em;
}

.center {
	text-align: center;
}

.checkboxes {
	float: left;
	margin-left: 3em;
	margin-right: 1.5em;
   	margin-bottom: .2em;
}